@import "../../shared/scss/form-styles.scss";

.form-container {
  .form-card {
    div {
      &:first-child {
        flex: none;
        width: 48%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 20%;
      }
    }
  }

  .form-info {
    border: 1px solid rgba(0, 122, 200, 0.8);
    border-radius: 5px;
    display: flex;
    padding: 5px;
    background: rgba(93, 63, 211, 0.2);

    mat-icon {
      font-size: 16px;
      text-align: center;
      padding-top: 3px;
    }

    p {
      margin-bottom: 0px;
    }
  }
}
